[Desktop Entry]
Comment=
Exec=java -jar /opt/gcviewer/gcviewer.jar
Icon=/opt/desktop/images/icons/gcviewer.png
Name=GC Viewer
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
