[Desktop Entry]
Name=Argo UML
Comment=Argo UML
Type=Application
Icon=/mnt/shared/Common/usr/local/share/icons/argouml.png
Exec=/mnt/shared/Common/usr/local/bin/argouml/argouml.sh
