[Desktop Entry]
Version=1.0
Name=Reload LXDE Config
Comment=Reload LXDE Config
Type=Application
Terminal=false
Exec=lxpanelctl restart && openbox --restart
Icon=/mnt/shared/Common/usr/local/share/icons/reload.png
Categories=ConsoleOnly;System;
