[Desktop Entry]
Name=TurboVNC Viewer
Comment=TurboVNC client application
Icon=/home/sfloess/Tools/icons/turbovnc-128.png
Exec=/opt/TurboVNC/bin/vncviewer
Terminal=0
Type=Application
Categories=Application;Utility;X-Red-Hat-Extra;